<div class="search-results" style="display:none">
    <div class="search-result-label">
      {{ 'search.for' | i18n }} "<span class="search-result-value"></span>"
      <span class="hide-on-small-only">
        : <span class="search-result-number"></span> {{ 'element' | i18n }} {{ 'found.one.or.several' | i18n }}</span>
      </span>
      <span class="hide-on-med-and-up">
       (<span class="search-result-number"></span>)
      </span>
    </div>
    <span class="icon gogo-icon-close gogo-color-link btn-close" id="btn-close-search-result"></span>
</div>
