.custom-scroll-bar-light::-webkit-scrollbar-track {
    background-color: #f6f6f6;;
    border: 1px solid #f0f0f0;
}

.custom-scroll-bar-light::-webkit-scrollbar {
    width: 7px;
}

.custom-scroll-bar-light::-webkit-scrollbar-thumb {
    background-color: #c3c3c3;
}