<div id="modal-contribution"  class="modal page-modal about-modal custom-scroll-bar-light">
    <div class="modal-content page-modal-content">
        <span class="icon btn-back gogo-icon-material-design-icons-1" onclick="$('#modal-contribution').closeModal()"></span>
        <h1>{{ 'collaborative.moderation' | i18n }}</h1>
	    	<p>{{ 'collaborative.moderation.first.paragraph' | i18n | safe}}</p>
        <p>{{ 'collaborative.moderation.second.paragraph' | i18n | safe}}</p>
		<div class="page-modal-footer">
		<button type="button"
				onclick="$('#modal-contribution').closeModal()"  
				class="btn waves-effect waves-light">
    {{ 'ok' | i18n }}      
    </button>
		</div>

    </div>
</div>