<div class="filter-menu">

	{# MAIN CATEGORIE SIDE BAR #}
	{% if config.menu.showOnePanePerMainOption %}
		<div class="main-categories gogo-section-content-opposite custom-scroll-bar-light" {{  '' if fullTaxonomy else 'style="display:none"' }}>

			<div class="icon main-gogo-icon-background gogo-bg-neutral" id="active-main-option-background"></div>

			<div class="icon main-icon active" id="main-option-gogo-icon-all" data-option-id="all">
				<div class="main-icon-text">{{ 'all' | i18n }}</div>
				<div class="main-option-tooltip gogo-bg-neutral-dark">{{ 'all.the' | i18n }} {{ 'element.plural' | i18n }}</div>
			</div>

			{# MAIN OPTIONS ICONS & TOOLTIP #}
			{% for mainOption in mainCategory.options %}
				<div class="icon main-icon {{ mainOption.icon }} gogo-color-link"  id="main-option-gogo-icon-{{mainOption.id}}" data-option-id="{{ mainOption.id }}">
					<div class="main-option-tooltip">{{ mainOption.name }}</div>
				</div>
			{% endfor %}

		</div>
	{% endif %}

	<div class="sub-categories gogo-section-background {{ "one-pane-per-main-option" if config.menu.showOnePanePerMainOption else "single-pane" }}">

		{% if config.menu.showOnePanePerMainOption %}
			<div class="sub-categorie-main-title" id="menu-subcategories-title"></div>
		{% endif %}

		<div class="sub-categories-content gogo-section-content no-top-divider {{ "" if config.menu.showOnePanePerMainOption else "full-height" }}">
			<ul class="custom-scroll-bar">
				{% import 'components/directory-menu/category-item.html.njk' as categoryRenderer %}

				{% if config.menu.showOnePanePerMainOption %}
					{# FIRST CATEGORY MAIN OPTIONS#}
					<div id="main-option-all" class="main-option-subcategories-container show-one-pane-per-main-option" style="display:none;">
						{{ categoryRenderer.renderItem(mainCategory, not config.menu.showOnePanePerMainOption, config.menu.showCheckboxForMainFilterPane, config) }}
					</div>
					{# FIRST CATEGORY SUB CATEGORIES AND OPTIONS #}
					{% for mainOption in mainCategory.options %}
						<div id="main-option-{{ mainOption.id }}" class="main-option-subcategories-container" style="display:none">
							{% for category in mainOption.subcategories %}
								{{ categoryRenderer.renderItem(category, true, config.menu.showCheckboxForSubFilterPane, config) }}
							{% endfor %}
						</div>
					{% endfor %}

					{# OTHERS CATEGORIES #}
					{% set otherCategories = rootCategories.slice(1) %}
					<div id="other-categories">
						{% for rootCategory in otherCategories %}
							{{ categoryRenderer.renderItem(rootCategory, true, true, config) }}
						{% endfor %}
					</div>
				{% else %}
					{# ALL CATEGORIES #}
					<div id="main-option-all" class="main-option-subcategories-container" style="display:none;">
						{% for rootCategory in rootCategories %}
							{{ categoryRenderer.renderItem(rootCategory, not config.menu.showOnePanePerMainOption, config.menu.showCheckboxForMainFilterPane, config) }}
						{% endfor %}
					</div>
				{% endif %}

				{% set pendingIsActive = config.isFeatureAvailable('pending') %}
				{% set favoriteIsActive = config.isFeatureAvailable('favorite') %}
				{% set moderationIsActive = config.isFeatureAvailable('moderation') %}

				{% if pendingIsActive or favoriteIsActive or moderationIsActive %}
					<li class="subcategory-item expanded unexpandable top-separator show-only-title">
						<div class="name-wrapper">
							<span class="name">{{ 'show.only' | i18n }}</span>
						</div>
					</li>
				{% endif %}

				<div class="options-wrapper show-only-container">

					{# ELEMENT WITH PENDING STATUS#}
					{% if pendingIsActive %}
						<li class="subcategorie-option-item row tooltipped" id="filter-pending"
								data-position="right" data-delay="700" data-tooltip="{{ 'show.only.elements.validation.process' | i18n }}">
					    <span class="icon gogo-icon-attention"></span>
				    	<span class="option-name">
				    		<span class="validation-process-info">{{ 'pending.validation' | i18n }}</span>
				    	</span>

					    {# --- CHECKBOX ---- #}
							<div class="checkbox-wrapper">
								<div class="checkbox-container">
						      <input type="checkbox" class="subcategorie-option-checkbox pending-checkbox show-unique-checkbox" id="pending-checkbox" data-type='pending' data="pending" />
						      <label for="pending-checkbox" ></label>
					    	</div>
					    </div>
						</li>
					{% endif %}

					{% if moderationIsActive %}
						<li class="subcategorie-option-item row tooltipped" id="filter-moderation"
								data-position="right" data-delay="700" data-tooltip="{{ 'show.only.elements.to.moderate' | i18n }}">
					    <span class="icon gogo-icon-moderation"></span>
				    	<span class="option-name">{{ 'to.moderate' | i18n }}</span>

					    {# --- CHECKBOX ---- #}
							<div class="checkbox-wrapper">
								<div class="checkbox-container">
						      <input type="checkbox" class="subcategorie-option-checkbox moderation-checkbox show-unique-checkbox" id="moderation-checkbox" data-type='moderation' data="moderation" />
						      <label for="moderation-checkbox" ></label>
					    	</div>
					    </div>
						</li>
					{% endif %}

					{# FAVORITE #}
					{% if favoriteIsActive %}
						<li class="subcategorie-option-item row tooltipped" id="filter-favorite" data-position="right" data-delay="700" data-tooltip="{{ 'show.only.favorites' | i18n }}">
					    <span class="icon gogo-icon-star-full"></span>
					    <span class="option-name">{{ 'your.favorites' | i18n }}</span>

					    {# --- CHECKBOX ---- #}
							<div class="checkbox-wrapper">
								<div class="checkbox-container">
						      <input type="checkbox" class="subcategorie-option-checkbox favorite-checkbox show-unique-checkbox" id="favorite-checkbox" data-type='favorite' data="favorite" />
						      <label for="favorite-checkbox" ></label>
					    	</div>
					    </div>
						</li>
					{% endif %}

				</div>

			</ul>
		</div>

	</div>
</div>
